body {
    color: #fbf6f0;
}

.r1 {
    color: #16697a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#t1 {
    background-color: #ffda77;
}

#t2 {
    background-color: #ffa45b;
}

#t3 {
    background-color: #ffda77;
}